.header {
    height: 73px;
    margin-bottom: 0;
    background: #00838A;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
}

.header > h2 {
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    color: white;
}

#summary {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    height: 269px;
    background: #FFFFFF;
    box-shadow: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 1289px;
    background: #00838A;
    border-radius: 0px 0px 20px 20px;
}

#data-content {
    margin: auto;
    width: 80%;
}

iframe{
    margin: 50px;
}

.citation {
    color: black;
    float: right;
    font-weight: 300;
    text-decoration: underline;
    background: #00838A;
    text-align: right;
    width: 90%;
}

#data > p {
    background: white;
    padding: 10px;
    margin-top: 0px;
}

#data > h2 {
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

#data > iframe {
    margin-top: 0px;
    margin-bottom: 0px;
}