.description{
    border-bottom-style: solid;
    border-bottom-color: #EBEBEB;
    border-bottom-width: 3px;
}

.description > p {
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    padding: 40px 300px 0px 300px;
}

.description a {
    display: inherit;
    margin: auto;
    margin-bottom: 4rem;
    width: 20%;
    height: auto;
    background: #005E9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 0px 5px 0px;
}

.bold {
    font-weight: 700;
    font-size: 35px;
}

.options {
    display: flex;
    flex-direction: row;
}

.options h3 {
    font-size: 36px;
}

.option{
    margin: auto;
    text-align: center;
}

.option p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding:  0px 200px 0px 200px;
}

.option a {
    display: inherit;
    height: auto;
    width: 40%;
    font-weight: 700;
    font-size: 32px;
    background: #005E91;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 4px 17px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#left-option {
    border-right-style: solid;
    border-right-color: #EBEBEB;
    border-right-width: 3px;
}

.option img {
    padding-top: 2em;
}

.logo {
    margin: auto;
    margin-bottom: -125px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.logo > img {
    height: 250px;
    width: 250px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
    background-color: #2B4162;
}

.members-list{
    background: #2B4162;
    color: #FFFFFF;
}

#member-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
}

#member-title h3{
    font-weight: 700;
    font-size: 40px;
}

.panda, .panda img {
    width: 129px;
    height: 97px;
    margin-right: 20px;
}

.members {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    margin-top: 20px;
}

.member {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.member > img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
}

.member > div > p {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 0;
}

.position {
    margin-top: 0;
}

.description > img {
    width: 100%;

}

.video{
    display: flex;
    justify-content: center;
}
video{
    display: flex;
    align-content: center;
    justify-content: center;
}

.link{
    color: black;
    text-decoration: underline;
}

