.description{
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.description > p {
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    padding: 0px 300px 0px 300px;
}

.description a {
    display: inherit;
    margin: auto;
    margin-bottom: 4rem;
    width: 325px;
    height: 50px;
    background: #005E9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-weight: 600;
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 16px;
}

.bold {
    font-weight: 700;
    font-size: 48px;
}

.options {
    display: flex;
    flex-direction: row;
}

.options h3 {
    font-size: 36px;
}

.option{
    margin: auto;
    text-align: center;
}

.option p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding:  0px 200px 0px 200px;
}

.option a {
    display: inherit;
    width: 230px;
    height: 52px;
    left: 974px;
    top: 1512px;
    font-weight: 700;
    font-size: 32px;
    background: #005E91;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 4px 17px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#left-option {
    border-right-style: solid;
    border-right-color: grey;
    border-right-width: 1px;
}

.logo {
    margin: auto;
    height: 250px;
    width: 250px;
    background-color: #2B4162;
    border-radius: 50%;
}

.logo > img {
    height: 250px;
    width: 250px;
}

.members-list{
    background: #2B4162;
    color: #FFFFFF;
}

#member-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
}

#member-title h3{
    font-weight: 700;
    font-size: 40px;
}

.panda, .panda img {
    width: 129px;
    height: 97px;
    margin-right: 20px;
}

.members {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.member > img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
}

.member > div > p {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 0;
}

.position {
    margin-top: 0;
}