#reported-data > h2 {
    height: 73px;
    margin-bottom: 0;
    background: #7AE7D2;
    border-radius: 20px 20px 0px 0px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
}

#data {
    margin: auto;
}

#data > h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 96.11%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#legend {
    margin: auto;
    display: inline-block;
}

#survey {
    margin: auto;
    width: 90%;
    background: #2B4162;
    border-radius: 20px;
}

#survey > iframe {
    text-align: center;
    margin: auto;
    width: 90%;
}