body {
    font-family: 'Century Gothic';
    font-style: normal;
}

a, button {
    color: #FFFFFF;
    text-decoration: none;
}

.topnav {
    background: #2B4162;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#logo {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    float: left;
}

.home-logo {
    flex: 0 0 60%;
}

.home-logo > h2 {
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small-option {
    flex: 0 0 8%;
    background: #005E91;
    border-radius: 10px;
    height: 35px;
    width: 107px;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    padding: 0;
    border-color: #000000;
    border-style: solid;
    border-width: 0.5px;
}

.active {
    background: #00838A;
}


