body {
    font-family: 'Century Gothic';
    font-style: normal;
}

a, button {
    color: #FFFFFF;
    text-decoration: none;
}

.topnav {
    background: #2B4162;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    padding-left: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 80%;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 125%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#logo {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    float: left;
}

.home-logo {
    flex: 0 0 60%;
}

.home-logo > h2 {
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small-option {
    background: #2B4162;
    margin-left: 15px;
    padding-top: inherit;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    font-size: 125%;
    font-style: normal;
    border: none;
    padding: 10;
    cursor: pointer;
}

.active {
    background: #FFA62B;
    border-color: #FFA62B;
    color: black;
}


